/**
* HEADER
* 
*/

.main-navigation .current-menu-item a,
.main-navigation .menu-item a:hover {
    text-decoration: underline;
}

/**
* BUTTON
* 
*/

.wp-block-button .wp-block-button__link {
    gap: 0;
    transition: 0.3s ease !important;
}
.wp-block-button .wp-block-button__link:hover {
    gap: 8px;
}

/**
* FOOTER
* 
*/
.site-footer a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

/**
* WORDPRESS
* 
*/

.widget {
    margin-bottom: 16px !important;
}

/* POST CONTENT */
.entry-content a:not([class]) {
    text-decoration: underline;
}
.entry-content p:first-child {
    margin-top: 0;
}
.entry-content p:last-child {
    margin-bottom: 0;
}
.entry-content ul {
    margin-bottom: 1.6em !important;
}

/* IMAGE + GALLERY */
.wp-block-image.size-full,
.wp-block-image.size-large {
    margin-top: 0;
    margin-bottom: 0;
}
.wp-block-image.size-full img,
.wp-block-image.size-large img {
    width: 100%;
    max-height: 700px;
    -o-object-fit: cover;
    object-fit: cover;
}
figure figcaption {
    display: block;
    font-size: 14px;
    margin-top: 8px;
    font-style: italic;
}
.wp-block-gallery img {
    cursor: pointer;
}

/**
* FORM
* 
*/

/* ACCEPTANCE */
.wpcf7-acceptance .wpcf7-list-item {
    margin-left: 0;
}
.wpcf7-acceptance .wpcf7-list-item label {
    cursor: pointer;
}

/**
* ASTRA
* 
*/

.ast-no-sidebar .entry-content .alignwide {
    margin-left: calc(-50vw + 50%) !important;
    margin-right: calc(-50vw + 50%) !important;

    @media screen and (min-width: 1400px) {
        margin-left: calc(-46vw + 50%) !important;
        margin-right: calc(-46vw + 50%) !important;
    }

    @media screen and (min-width: 1600px) {
        margin-left: calc(-41vw + 50%) !important;
        margin-right: calc(-41vw + 50%) !important;
    }

    @media screen and (min-width: 1800px) {
        margin-left: calc(-38vw + 50%) !important;
        margin-right: calc(-38vw + 50%) !important;
    }
}

.alignwide .wp-block-group__inner-container {
    max-width: none;
}

.entry-content[ast-blocks-layout] > * {
    max-width: none !important;
}
